.button {
  &:disabled,
  &[data-disabled] {
    color:gray;
    border-color: rgba(39, 0, 87, 1);
    background-color: rgb(31, 30, 30);
  }
}

.input {
  background-color: rgb(31, 30, 30);
  

  &:focus-within {
    outline: 2px solid rgba(39, 0, 87, 1);
    /* forced-color-adjust: white; */
    border-color: transparent;
    color:white
  }
}